@import "tailwindcss";

@theme {
  --color-primary: #b61722;
  --color-on-primary: #ffffff;
  --color-primary-container: #da3437;
  --color-on-primary-container: #fffbff;
  --color-secondary: #b02d29;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #ff665c;
  --color-on-secondary-container: #690007;
  --color-tertiary: #0058be;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #2170e4;
  --color-on-tertiary-container: #fefcff;
  --color-surface-bright: #faf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container: #eaedff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-container-highest: #dae2fd;
  --color-on-surface: #131b2e;
  --color-on-surface-variant: #5b403e;
  --color-outline: #8f6f6d;
  --color-outline-variant: #e4beba;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-background-system: #faf8ff;
  
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --radius-sm: 0.25rem;
  --radius-default: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    background-color: #faf8ff;
    color: #131b2e;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

/* Material Symbols Outlined Custom configurations */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.icon-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #e4beba;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8f6f6d;
}
